beautifulsoup4==4.14.3
blinker==1.9.0
boolean.py==5.0
bottle==0.13.4
build==1.5.0
CacheControl==0.14.4
certifi==2026.4.22
charset-normalizer==3.4.7
click==7.1.2
cyclonedx-python-lib==11.7.0
defusedxml==0.7.1
ffmpeg==1.4
filelock==3.29.0
greenlet==3.5.0
idna==3.13
inotify==0.2.12
itsdangerous==2.2.0
Jinja2==3.1.6
license-expression==30.4.4
loguru==0.7.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
packageurl-python==0.17.6
packaging==26.2
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.9.6
py-serializable==2.1.0
pyadb==0.1.1
PyAudio==0.2.14
pydub==0.25.1
Pygments==2.20.0
pygpg==0.4.1
pyparsing==3.3.2
pypng==0.20220715.0
pyproject_hooks==1.2.0
python-gnupg==0.4.9
requests==2.33.1
rich==15.0.0
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.49
tomli==2.4.1
tomli_w==1.2.0
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.8
yt-dlp==2026.3.17
